extends template

block content
  form#login(method="POST" action="/login")
    .callout
      .owl(style="background-image:url(https://avatars.hootr.co/abc.svg)")
      | To make things simple, you can use any username without a password!
    input.username(type="text" name="username" placeholder="username")
    div
      input(type="text" value="No password needed" disabled)
    div
      button.btn.btn-primary(type="submit") Log In
