head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js")
  script(src="/js/whooter.js")
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
  style.
    * {
        box-sizing: border-box;
    }
    a {
      color: #00ACEE;
      text-decoration: none;
    }
    a:hover {
      color: #068EC2;
      text-decoration: none;
    }

    body {
        margin: 0;
        background: #00ACEE;
        font-family: 'Open Sans', sans-serif;
    }
    h1 {
        text-align: center;
        width: 760px;
        margin: auto;
        padding: 30px 0;
        position: relative;
    }
    h1 svg {
        width: 70px;
        fill: #fff;
    }
    nav {
      color: #fff;
      font-size: 15px;
      font-weight: normal;
      position: absolute;
      top: 30px;
      right: 0;
    }
    nav a {
      color: #fff;
    }
    nav a:hover {
      color: rgba(255,255,255,0.8);
    }
    #container {
        background: #fff;
        width: 760px;
        margin: 0 auto 50px;
        min-height: 400px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .content {
        padding: 40px 30px;
    }
    #post, #user {
        padding: 30px;
        background: #f9f9f9;
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        position: relative;
    }
    #post .avatar {
      position: absolute;
      width: 70px;
      left: 50px;
      top: 48px;
      height: 70px;
    }
    #user {
      text-align: center;
    }
    #user .avatar {
      width: 70px;
      height: 70px;
      border-radius: 5px;
    }
    #post textarea {
        width: 100%;
        border: 1px solid #ddd;
        padding: 20px;
        font-size: 15px;
        border-radius: 3px;
        padding-left: 110px;
    }
    #post textarea:active,
    #post textarea:focus {
        border: 1px solid #00ACEE;
        outline: 0 none;
    }

    #post .left {
      float: right;
      padding: 18px 27px;
      color: #999;
    }

    #post .left.over {
      color: red;
    }

    #post button {
        padding: 11px 30px;
        border-radius: 3px;
        background: #00ACEE;
        border: 0 none;
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
        float: right;
        font-weight: 700;
    }
    #post button:hover {
        background: #068ec2;
    }

    #post button svg {
        width: 16px;
        margin-right: 10px;
        fill: #fff;
        position: relative;
        top: 2px;
    }
    #post button[disabled] {
      background: #b9e0ef;
    }

    .post {
        overflow: hidden;
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
    }
    .post .avatar {
        display: table-cell;
        vertical-align: top;
        padding: 0 20px 0 0;
    }
    .post .avatar img {
        border-radius: 3px;
        width: 70px;
        height: 70px;
    }

    .post .body {
        display: table-cell;
        vertical-align: top;
    }

    .post .username {
      font-weight: bold;
      text-decoration: none;
    }
    .post .byline {
      margin-bottom: 10px;
      display: block;
    }
    .post .username span {
      font-weight: normal;
      color: #8ed0e9;
    }
    .post .replying {
      margin-left: 15px;
      font-size: 11px;
      color: #BBB;
    }
    .post .replying:hover {
      color: #00ACEE;
    }
    .post .body p {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 15px;
      color: #555;
    }

    .post .actions {
      color: #CCC;
    }

    .post .actions a {
      font-size: 14px;
      text-decoration: none;
    }

    .post .actions time {
      color: #BBB;
    }

    .post .actions a:hover time {
      color: #00ACEE;
    }

    .post .favorite .fa {
      margin-right: 5px;
    }

    .post .favorite .fa-star {
      display: none;
    }
    .post .favorite.favorited {
      color: #f1b347;
    }
    .post .favorite.favorited .fa-star {
      display: inline;
    }
    .post .favorite.favorited .fa-star-o {
      display: none;
    }

    .loader {
      border: 5px solid #00ACEE;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      margin: auto;
      border-bottom: 5px solid #c2eaf9;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .empty {
      text-align: center;
      color: #BBB;
      padding: 90px;
      display: none;
    }
    .empty strong {
      color: #777;
    }
    .empty .fa {
      font-size: 60px;
      display: block;
      color: #00ACEE;
      margin-bottom: 20px;
    }

    #login-link {
        padding: 40px;
        text-align: center;
    }
    #login-link .btn {
      padding: 11px 30px;
      border-radius: 3px;
      background: #00ACEE;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      display: inline-block;
      margin-bottom: 10px;
    }
    #login-link p {
      margin: 0;
      color: #555;
      font-size: 15px;
    }


body
  h1
    nav 
      if user
        | @#{user}
        | &nbsp;&middot;&nbsp;
        a(href="/logout") log out
      else
        a(href="/login") log in
    a(href="/home")
      svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2" baseProfile="tiny" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve") <path d="M11.732,33.361C10.339,37.94,10,42.567,10,47.322c0,12.067,4.699,23.413,13.232,31.945l4.268,4.268v-5.484  c3.057,2.087,6.418,3.756,10,4.937v3.173l-6.387,4.258l2.773,4.16L40,90.504l6.113,4.076l2.773-4.16L42.5,86.162v-1.878  C44.931,84.748,47.436,85,50,85s5.069-0.252,7.5-0.715v1.878l-6.387,4.258l2.773,4.16L60,90.504l6.113,4.076l2.773-4.16L62.5,86.162  v-3.173c3.582-1.182,6.943-2.85,10-4.937v5.483l4.268-4.268C85.301,70.735,90,59.39,90,47.322c0-5.335-0.382-10.895-2.34-15.792  c-2.287-6.373-6.148-12-11.112-16.415C75.546,13.502,75,11.643,75,9.697V5h-5v4.697c0,0.237,0.024,0.469,0.034,0.704  C64.138,6.974,57.297,5,50,5s-14.138,1.974-20.034,5.401C29.976,10.166,30,9.934,30,9.697V5h-5v4.697  c0,1.947-0.546,3.806-1.548,5.418c-4.964,4.415-8.825,10.041-11.112,16.414C12.076,32.167,11.912,32.77,11.732,33.361  C11.589,33.831,11.763,33.261,11.732,33.361z M85,45v2.322c0,8.51-2.628,16.617-7.5,23.392V60.178c0-7.962,2.38-15.739,6.769-22.316  C84.755,40.2,85,42.587,85,45z M50,12.5c14.164,0,26.234,9.111,30.674,21.778c-5.29,7.563-8.174,16.616-8.174,25.9v8.241  C66.656,74.036,58.727,77.5,50,77.5s-16.656-3.464-22.5-9.081v-8.241c0-9.283-2.885-18.337-8.174-25.899  C23.766,21.611,35.836,12.5,50,12.5z M15,45c0-2.413,0.245-4.8,0.731-7.138C20.12,44.438,22.5,52.215,22.5,60.178v10.537  C17.628,63.939,15,55.833,15,47.322V45z"></path><path d="M32.5,40c0-2.757,2.243-5,5-5s5,2.243,5,5H45h2.5c0-5.514-4.486-10-10-10s-10,4.486-10,10H30H32.5z"></path><path d="M57.5,40c0-2.757,2.243-5,5-5s5,2.243,5,5H70h2.5c0-5.514-4.486-10-10-10s-10,4.486-10,10H55H57.5z"></path><polygon points="42.829,49.99 50,62.539 57.171,49.99 52.829,47.51 50,52.461 47.171,47.51 "></polygon>

  #container
    block content
